.container {
	margin-block-start: 20px;
	margin-inline: auto;
}

.userAvatarContainer {
	display: flex;
	gap: 24px;
}

.userAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.commentNameContainer {
	display: flex;
	flex-direction: column;
}

.replyBtn {
	margin-left: 108px;
	text-align: left;
}
