.Container {
	column-count: 5;
	column-gap: 10px;
	padding: 10px;
}

.imgContainer {
	break-inside: avoid;
	display: flex;
	flex-direction: column;
	margin-bottom: 22px;
	position: relative;
}

.img {
	transition: filter 0.3s ease;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.imgContainer:hover .img {
	filter: brightness(0.7);
}

.saveBtn {
	position: absolute;
	width: 80px;
	height: 40px;
	background-color: rgb(194, 19, 19);
	text-align: center;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.savedBtn {
	position: absolute;
	width: 80px;
	height: 40px;
	background-color: rgb(7, 6, 6);
	text-align: center;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	opacity: 0;
	transition: opacity 0.3s ease;
	color: white;
}

.imgContainer:hover .saveBtn {
	opacity: 1;
}

.imgContainer:hover .savedBtn {
	opacity: 1;
}

.userInfo {
	display: flex;
	margin-block-start: 10px;
	gap: 10px;
}

.fullName {
}

.userAvatar {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	object-fit: cover;
}
